Repository amitkumardemo/EdgeCareer, changes with the labels that .github/labeler.yml gives for each.
All labels: auth, ui, config

Moved GenerateBackupCodes into its own component to resolve build-time type constraint violation
  app/account/manage-mfa/add/page.tsx
  app/account/manage-mfa/page.tsx
  components/GenerateBackupCodes.tsx
Labels: ui

header and footer path fixed
  app/layout.jsx
Labels: none

header import fixed
  app/layout.jsx
Labels: none

fixed the dark mode issue of Authenticator app not detecting the qr code
  app/account/manage-mfa/add/page.tsx
  package-lock.json
  package.json
Labels: config

fixed the dark mode issue of Authenticator app not detecting the qr code
  CONTRIBUTING.md
Labels: none

.github/labeler.yml:

auth:
  - "lib/auth/**/*"
  - "middleware.ts"

ui:
  - "components/**/*"
  - "pages/**/*"

config:
  - "*.json"
  - ".github/**/*"
